h1 {
  font-size: 40px;
  clear: left;
  padding: 20px;
  margin-left: 2px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 25px;
}
p {
  text-align: center;
  font-size: 60px;
  margin-bottom: 0;
}
.weather-temperature {
  justify-content: center;
}

.search {
  background: white;
  color: #606470;
  padding: 7px;
  border: none;
}
.search:hover {
  background: white;
  color: #757a79;
}
.wrap {
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 800px;
  display: block;
  margin: 50px auto;
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  color: white;
}

.units {
  position: relative;
  font-size: 16px;
  top: 19px;
}

.main-cloud {
  display: block;

  margin: 0 auto;
  display: block;
  width: 113px;
  font-size: 20px;
  margin-top: -11px;
}

.word {
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  font-style: italic;
  text-transform: capitalize;
}
.details {
  text-align: center;
  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 35px;
}
.space {
  margin-left: 2px;
}
.monday {
  font-size: 20px;
  margin-left: 15px;
}
.col-4 {
  margin-left: 20px;
}

.col-auto,
.location {
  margin-left: 10px;
  margin-top: 5px;
}

hr {
  margin: 0.5rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

a {
  color: #005792;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.footer {
  text-align: center;
  font-size: 16px;
  margin: -40px;
}
